<!--templates/followuser.html-->
{% extends 'base.html' %}
{% load bulma_tags %}


{% block content %}
{% if user.is_authenticated %}
<div class="content">
    <div class="field has-text-centered">
        <h1>Membres.</h1>
    </div>
    <form action="{% url 'followusers' %}" method="GET">
        <nav class="level">
            <div class="level-left">               
                <div class="level-item">
                    <input class="input" name="q" type="text" placeholder="Recherche...">
                </div>    
            </div>
            <div class="level-right">
                <div class="level-item">
                    <button class="button is-link" type="submit">Rechercher</button>
                </div>
            </div>
        </nav><br>
    </form>
</div>
<div class="content">
    <div class="field has-text-centered">
        <table class="table is-bordered has-text-centered">
            {% for profile in object_list %}
            <tr>
                <th>{{ profile.username }}</th>
                <th>
                    <form method="POST"  action="{% url 'follow' %}">
                    {% csrf_token %}
                    <input type="hidden" name="profile_id" value="{{ profile.id }}">
                    {% if user not in profile.followed.all %}
                    <div class="control">
                    <button class="button is-info" type="submit">Suivre</button>
                    </div>
                    {% else %}
                    <div class="control">
                    <button class="button is-danger" type="submit">Désabonnement</button>
                    </div>
            
                    {% endif %}
                    </form>
            </th>
            </tr>

            {% endfor %}
        </table>
    </div>
</div>
    
</div>
{% endif %}
{% endblock %}