<!-- templates/ticket_update_form.html -->
{% extends 'bulma/base.html' %}
{% load bulma_tags i18n %}

{% block content %}
{% if sauvegarde %}
    <p>Ticket bien enregistré !</p>
	{% endif %}

<div class="content">
    <div class="field has-text-centered">
        <h1>Modifier votre ticket.</h1>
    </div>
    <div class="field">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|bulma }}
        <div class="control">
            <button class="button is-black" type="submit">Envoyer</button>
        </div>    
        </form>    
    </div>
    <div class="field">
        <p><img src="{{ ticket.image.url }}" alt=""></p>
    </div>
</div>
{% endblock %}